<!DOCTYPE html>
<!doctype html>
<head>
    <title>AlchemyAPI Access</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://21331893.au-syd.mybluemix.net/static/stylesheets/style.css">
</head>
    <body>
    <table id="navbar">
        <tr>
            <td class="navthings"><a class="navlinks" href="/">HOME</a></td>
            <td class="navthings"><a class="navlinks" href="/testdb">GLOBAL STATS</a></td>
            <td class="navthings"><a class="navlinks" href="/advancedsearch">ADVANCED SEARCH</a></td>
        </tr>
    <table>
        <tr>
        <td><h1>Hi there!</h1></td>
        <td>Welcome to the app for displaying Alchemy data on <span class="blue">UWA press releases.</span></td>
        </tr>
    </table>
        {% block body %}
        {% endblock %}
    </body>
</html>