<!DOCTYPE html>
<html>

  <head>
    <title>AlchemyAPI Access</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheets/style.css">
  </head>

  <body>
    <table>
      <tr>
          <td><h1>Hi there!</h1></td>
          <td> Welcome to the app for displaying Alchemy data on <span class="blue">UWA press releases.</span></td>
      </tr>
        <tr style="height: 3em;"></tr>

        <tr>
            <td style="width: 100%;" colspan="2">
                <form method="POST" action="/">{{ url_for(GetUrl) }}
                    {{ form.name.label }} {{ form.name(size=20) }}
                    <input type="submit" value="Go">
                </form>
            </td>
        </tr>
        <tr style="height: 3em;"></tr>
        <tr>
            <td>
                Go to  tests:
            </td>
            <td>
                Go to  examples:
            </td>
        </tr>
        <tr>
            <td><a href="/alchemytest">Test AlchemyAPI</a></td>
            <td><a href="/createdb/x">Create a database.</a></td>
        </tr>
        <tr>
            <td><a href="/alchemy">Alchemy.</a></td>
            <td><a href="/testdb">testDB.</a></td>
        </tr>
    </table>
  </body>
<!---->
</html>
