{% extends "base.html" %}
{% block body %}
    <table>
      <tr>
          <td><h1>Hi there!</h1></td>
          <td> Welcome to the app for displaying Alchemy data on <span class="blue">UWA press releases.</span></td>
      </tr>
        <tr style="height: 3em;"></tr>
        <tr>
            <td style="width: 100%;" colspan="2">
                <form method="GET" action="{{ url_for('GetUrl', name='sigh') }}">
                    {{ form.name.label }} {{ form.name() }}
                    <input type="submit" value="Go">
                </form>
            </td>
        </tr>
        <tr style="height: 3em;"></tr>
        <tr>
            <td>
                Go to  tests:
            </td>
            <td>
                Go to  examples:
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
    </table>
{% endblock %}