<!-- Gotten from Flaskr Tutorial, modified by Lidia Dokuchaeva-->
<!doctype html>
    <head>
        <title>Flaskr Layout</title>
    <link rel="stylesheet" href="static/stylesheets/style.css">
    </head>
    <body>
        <div style="margin: 2em">
            <h1 style="margin: 2em;">Flaskr</h1>
            <div class="leftHalf">
                <a href="{{ url_for('GetPeople') }}">Test Alchemy</a>
            </div>
            <div class="rightHalf">{{ message }} </div>
        </div>
    </body>
</html>